<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!-- AppHarbor Setting to stop AppHb load balancer internal port numbers from showing up in URLs-->
        <add key="aspnet:UseHostHeaderForRequestUrl" value="true" />
        <add key="RAVENHQ_CONNECTION_STRING" value="http://localhost:8080/databases/McIntalkin"/>
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
        <httpHandlers>
            <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
        </httpHandlers>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <handlers>
            <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
        </handlers>
    </system.webServer>
</configuration>
